## Personal data and stuff:
*.pdf
definition.tex
pre-reports/
*.rar
*.zip

# Quartus II stuff
db/
incremental_db/
simulation/
output_files/
*.qpf
*.qsf
*.qsf.bak
*.qws
*.vhd.bak
*.vhd.temp

# LaTeX stuff
_minted-*/
definition.tex
*.aux
*.log
*.out
*.synctex.gz